  <tr>
    <td align="left" class = "headercell">
	  <a class="headerlink" href="mainnav">Top Nav</a> 
    </td>
  </tr>
  <tr>
    <td align="left" class = "headerhighlight">
	  <a class="headerhighlight" href="#">Top Nav Sel</a> 
    </td>
  </tr>
  <tr> 
    <td align="left" class = "subheadercell">
	  <a class="headerlink" href="subnav">Sub Nav</a>
    </td>
  </tr>
  <tr> 
    <td align="left" class = "subheaderhighlight">
	  <a class="subheaderhighlight" href="#">Sub Nav Sel</a>
    </td>
  </tr>