<!DOCTYPE 
HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">

<html lang="en">
<head>
  <title>ALTA: {{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-15">
  <!-- Start generic metadata -->
  <meta name="description" content="ALTA: {{ page.title }}">
  <meta name="Author" content="ALTA secretary">
  <!-- end generic -->
  
  <link rel="stylesheet" href="{{ site.baseurl }}/alta.css" type="text/css">

  <link rel="alternate" type="application/rss+xml" title="ALTA News" href="/topnews">
  <link rel="alternate" type="application/rss+xml" title="ALT Events" href="http://www.google.com/calendar/feeds/3tpn29fbkj3k7hbf2mmvegqsn0@group.calendar.google.com/public/basic">
  <link rel="alternate" type="application/rss+xml" title="ALT Jobs" href="/rss/jobs.xml">
</head>

<body>
<div class="pagehead">
     <div>Australasian Language Technology Association</div>
</div>

 <div class="navigation">
     <div>
         <a href="../index.html">Home</a>
         <a href="/about/index.html">ABOUT</a>
         <a href="/events/index.html">EVENTS</a>
         <a href="/resources/index.html">Who-is-who</a>
         <a href="/mailing_lists/index.html">Join ALTA</a>
         <a href="/mentoring/index.html">Mentoring</a>
         <div class="clear"></div>
     </div>
 </div>

<div class="pagabody">
<table width="100%" border="0" cellpadding="0" cellspacing="0"
 summary="This table contains the main structure">
    <tbody>

    <tr valign="top">
  <td width="15%"> <!-- This table contains the Macquarie navigation links -->


<!--
  <p><a class="rsslink" type="application/rss+xml" href="/rss/jobs.xml"><img
  border="0" width="15px" height="15px" alt="LT Jobs" src="/images/rss.gif"> ALT Jobs</a></p>
?

<p><a class="rsslink" href="https://www.linkedin.com/groups/1849979"><img border="0" width="15px" height="15px" alt="icon" src="http://www.linkedin.com/favicon.ico"/> LinkedIn</a></p>

<p><a class="rsslink" href="http://www.facebook.com/groups/57743797762"><img border="0" alt="i\
con" width="15px" height="15px" src="http://www.facebook.com/favicon.ico"/> Facebook</a></p>

<p><a class="rsslink" href="http://alta.asn.au/twitter"><img border="0" alt="icon" width="15px" height="15px" src="http://www.twitter.com/favicon.ico"/> Twitter</a></p>

<!-- End Macquarie navigation table -->
</td>

<td width="2%">&nbsp;</td>

<td width="53%">

{{ content }}

</td>

</tr>
</table>
</div>
<!-- End of main table -->

<!-- Start of footer -->
<div class="pagefoot">
<!-- Start of footer -->
<p class="footertext">
For any comments or questions about these pages please contact the <a href="mailto:secretary@alta.asn.au">ALTA secretary</a>.
</p>
<!-- End of footer -->
<br>
<!-- add current year dynamically to save from manual updates -->
{%assign current_year = site.time | date: "%Y" %}
Copyright 2003-{{current_year}} ALTA. Last updated: {{ site.time | date_to_string }}
</div>
</body>
</html>
