<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html lang="en">
<head>
  <title>Australasian Language Technology Association</title>
      
  <meta http-equiv="content-type"
 content="text/html; charset=iso-8859-15">
   <!-- Start generic metadata -->   
  <meta name="Keywords"
 content="NLP, natural language processing, Australia, New Zealand, Australasia, language, language technology, natural language, linguistics, computational linguistics">
   
  <meta name="description"
 content="Australasian Language Technology Association">
   
  <meta name="Author" content="ALTA secretary">
    <!-- end generic -->    <!-- start Dublin Core Metadata -->   
  <meta name="DC.Title"
 content="Australasian Language Technology Association (ALTA) website">
   
  <meta name="DC.Creator" content="ALTA secretary">
   
  <meta name="DC.Subject"
 content="NLP, natural language processing, Australia, New Zealand, Australasia">
   
  <meta name="DC.Description"
 content="Information about the Australasian Language Technology Association (ALTA)">
   
  <meta name="DC.Publisher" content="ALTA">
   
  <meta name="DC.Date" scheme="ISO8601" content="{{ site.time | date_to_xmlschema }}">
    
  <meta name="DC.Identifier" scheme="URL"
 content="http://www.alta.asn.au">
   
  <meta name="DC.Language" scheme="RFC1766" content="en">
   
  <meta name="DC.Format" scheme="IMT" content="text/html">
  <meta name="verify-v1" content="I6ztgVbmu+tVwqsynXhGtdvDJu+9KTMEnq+b/weyFo4=" />
  <!-- end dublin core -->        
  <link rel="stylesheet" href="alta.css" type="text/css">
  <link rel="alternate" type="application/rss+xml" title="ALTA News" href="/topnews">
  <link rel="alternate" type="application/rss+xml" title="ALT Events" href="http://www.google.com/calendar/feeds/3tpn29fbkj3k7hbf2mmvegqsn0@group.calendar.google.com/public/basic">
  <link rel="alternate" type="application/rss+xml" title="ALT Jobs" href="/rss/jobs.xml">

    <style type="text/css">
      body *, table *,
      body {
        font-family: "Arial", sans-serif;
      }

      #feedControl { 
        font-size: 10px;
        width : 300px;
      }

      /* Suppress everything except for title */
      /* #feedControl .gf-snippet, */
      #feedControl .gf-author,
      #feedControl .gf-spacer, 
      /* #feedControl .gf-relativePublishedDate */ { 
        display : none;
      }    

      /* decent padding at the bottom of each set of entries */
      #feedControl .gfc-results {
        padding-bottom : 1em;
      }

      /* padding between entries */
      #feedControl .gfc-result {
        margin-bottom : 10px;
      } 

      /* slightly larger section header title */
      #feedControl .gfc-resultsHeader .gfc-title {
        font-size : 110%;
      }

    </style>

    <script src="http://www.google.com/uds/?key=internal-sample" type="text/javascript"></script>

    <script language="Javascript" type="text/javascript">//<![CDATA[

      // load the AJAX Feed API
      google.load("feeds", "1");

      function OnLoad() {

        // create a feed control
        var feedControl = new google.feeds.FeedControl();

        feedControl.addFeed("http://alta.asn.au/topnews",
        "News");

        feedControl.addFeed("http://www.google.com/calendar/feeds/3tpn29fbkj3k7hbf2mmvegqsn0@group.calendar.google.com/public/basic",
        "Events");

        feedControl.addFeed("http://alta.asn.au/rss/jobs.xml",
        "Jobs");

        feedControl.draw(document.getElementById("feedControl"));

        feedControl.setLinkTarget(google.feeds.LINK_TARGET_BLANK);

        feedControl.setNumEntries(5);
        feedControl.draw(document.getElementById("feedControl"), 
                         {drawMode : google.feeds.FeedControl.DRAW_MODE_TABBED});

      }
      google.setOnLoadCallback(OnLoad);
    //]]>
    </script>

</head>
   <body>
 <!-- This table contains the main structure of the page -->
<div class="pagehead">
     <div>Australasian Language Technology Association</div>
</div>

 <div class="navigation">
     <div>
         <a href="index.html">Home</a>
         <a href="/about/index.html">ABOUT</a>
         <a href="/events/index.html">EVENTS</a>
         <a href="/resources/index.html">Who-is-who</a>
         <a href="/mailing_lists/index.html">Join ALTA</a>
         <a href="/mentoring/index.html">Mentoring</a>

         <div class="clear"></div>
     </div>
 </div>


<div class="pagabody">
<table width="100%" border="0" cellpadding="0" cellspacing="0"
 summary="This table contains the main structure">
    <tbody>

    <tr valign="top">
  <td width="15%"> 
    <a class="twitter-timeline" data-height="700" href="https://twitter.com/altanlp?ref_src=twsrc%5Etfw">Tweets by altanlp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</td>

<td width="2%">&nbsp;</td>

<td width="53%">

{{ content }}

</td>

</tr>
</table>
</div>
<!-- End of main table -->
<div class="pagefoot">
<!-- Start of footer -->
<p class="footertext">
For any comments or questions about these pages please contact the <a href="mailto:secretary@alta.asn.au">ALTA secretary</a>.
</p>   
<!-- End of footer -->
<br>
<!-- add current year dynamically to save from manual updates -->
{%assign current_year = site.time | date: "%Y" %}
Copyright 2003-{{current_year}} ALTA. Last updated: {{ site.time | date_to_string }}
</div>
</body>
</html>
